{% extends "core/base.html" %}

{% block icerik %}


<div id="rightPan">
    <div id="rightbodyPan">
        <h2> {{ baslik }} </h2>
        <p> {{ alt_konu }} </p>
        <ul>
            {% for konu1 in konular  %}
            
            <li> <a href = "javascript:void(0)" >{{ konu1 }} </a></li> <!-- sahte bir link yapar. -->

            {% endfor %}
        </ul>

        <hr>
        {% for duyuru in duyurular %}
            <h3>{{ duyuru.DuyuruBaslik }} </h3>
            <p> {{ duyuru.DuyuruIcerik }} </p>        
        {% endfor %}

    </div>
</div>
</div>
{% endblock icerik %}



