


<h2>Anasayfa {{ zaman }}</h2>



<div id="rightPan">
    <div id="rightbodyPan">
      <h2>About Us</h2>
      <p class="redtext">This is a free, tableless, W3C-compliant web design layout by Template World.</p>
      <p>Green Solutions is a free, tableless, W3C-compliant web design layout by Template World. This template has been tested and proven compatible with all major browser environments and operating systems. You are free to modify the design to suit your tastes in any way you like.</p>
      <p>We only ask you to not remove <span>"Design by Template World"</span> and the link http://www.templateworld.com from the footer of the template.</p>
      <div id="rightbodymore">
        <p class="textposition">sbut also the leap into electronic</p>
        <a href="#">more</a></div>
      <h3>Latest services</h3>
      <ul>
        <li><a href="#">Lorem Ipsum has been the industry's standardd</a></li>
        <li><a href="#">Text ever since the 1500s, when an unknownpri</a></li>
        <li><a href="#">Took a galley of type and scrambled it to make</a></li>
        <li><a href="#">Especimen book. It has</a></li>
      </ul>
      <p>been the industry's standard dummy text ever since the 1500s, when an unknown printer when an been took a galley of type and </p>
      <div id="rightbodymorenext">
        <p class="textposition">sbut also the leap into electronic</p>
        <a href="#">more</a></div>
    </div>
  </div>
</div>