{% extends 'core/baseLogin.html' %}   {# son eklediğimiz 'core/baseLogin.html' extends kullandık #}

{% block icerik %}

{% include "core/mesaj.html" %}
<div class="container-fluid bg-dark">
    <div class="container-sm">
        <div class="row">
            <h4 class="display-5 text-warning">Üye Giriş</h4>
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="exampleInputtext1" class="form-label">Email</label>
                    <input type="text" class="form-control" id="exampleInputtext1" aria-describedby="textHelp" name="username" />
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" name="password" />
                </div>
                  <button type="submit" class="btn btn-primary" href="#">Üye Giriş</button>
                  <a class="btn btn-secondary" href="/">İptal</a>

            </form>

        </div>
    </div>
</div>

{% endblock icerik %}