{% load static %}

<!-- ilk ve body kısmı var burada -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" href="{% static 'img/logo-icon.png' %}">
    <title>Bookishow - Movies, Events, Sports Website HTML Template</title>

    <link rel="stylesheet" type="text/css" href="{% static 'vendor/slick/slick.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/slick/slick-theme.min.css' %}" />

    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">

    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<body id="page-top">

    <div id = "wrapper">
