{% extends "core/base.html" %}

{% block icerik %}

<h2>{{ baslik }}</h2>

<!-- Swiper -->
<div class="contaier">
  <div class="row">
    <div class="col-md-3">
      <br>
      <br>
      <br>
      <br>
      <br>
      {% for haber in haberler  %}
      
      <div class="card" style="width: 18rem;">
        <img src=" {{ haber.gorsel.url }} " class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ haber.baslik }}</h5>
          <p class="card-text">{{ haber.icerik }}</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

      {% endfor %}
    </div>
  </div>
</div>



<!-- .contaier>.row>.col-md-3>{icerik} -->

<div class="contaier">
  <div class="row">
    <div class="col-md-3">
      <br>
      <br>
      <br>
      <br>
      <br>

        <h2> {{ baslik }} Sayfasi </h2>
        <h4>{{ egitimid.baslik }}</h4>
        <h5>{{ egitimid.id }}</h5>
    </div>
  </div>
</div>


  {% endblock icerik %}