

<div id="headerPan">
    <div id="headerPanleft">
      <div id="ourblog">
        <h2>Our blog</h2>
        <p>Desktop publishing</p>
        <a href="#">&nbsp;</a> </div>
      <div id="possib">
        <h2>possibilities</h2>
        <p>Desktop publishing</p>
        <a href="#">&nbsp;</a> </div>
      <div id="solution">
        <h2>Solutions</h2>
        <p>Desktop publishing</p>
        <a href="#">&nbsp;</a> </div>
    </div>
    <h1>best Fresh Solution</h1>
  </div>
  <div id="bodyPan">
    <div id="leftPan">
      <div id="leftmemberPan">
        <h2>member <span>login</span></h2>
        <form name="login" id="login" action="#" method="post">
          <label>Your Name</label>
          <input type="text" name="textfield" />
          <label class="emailpadding">Email ID</label>
          <input class="fieldpadding" type="text" name="textfield" />
          <div id="leftPango">
            <p class="textposition"><a href="#">Resister now</a></p>
            <input type="submit" class="gobutton" value="Go" />
          </div>
        </form>
      </div>
      <h3>More tips</h3>
      <ul>
        <li><a href="#">Lorem Ipsum has</a></li>
        <li><a href="#">been the industry's</a></li>
        <li><a href="#">standard dum</a></li>
        <li><a href="#">text ever since the</a></li>
        <li><a href="#">1500s, when an</a></li>
        <li><a href="#">unknown printer</a></li>
        <li><a href="#">galley of type</a></li>
        <li><a href="#">and scrambled</a></li>
        <li><a href="#">make a typ</a></li>
        <li><a href="#">especimen</a></li>
        <li><a href="#">has survived</a></li>
        <li><a href="#">been the dummy</a></li>
        <li><a href="#">text ever</a></li>
        <li><a href="#">since1500s,an</a></li>
      </ul>
    </div>