

<div id="headerPan">
    <div id="headerPanleft">
      <div id="ourblog">
        <h2>Our blog</h2>
        <p>Desktop publishing</p>
        <a href="#">&nbsp;</a> </div>
      <div id="possib">
        <h2>possibilities</h2>
        <p>Desktop publishing</p>
        <a href="#">&nbsp;</a> </div>
      <div id="solution">
        <h2>Solutions</h2>
        <p>Desktop publishing</p>
        <a href="#">&nbsp;</a> </div>
    </div>
    <h1>best Fresh Solution</h1>
  </div>
  <div id="bodyPan">
    <div id="leftPan">
      <div id="leftmemberPan">
        <h2>member <span>login</span></h2>
        <form name="login" id="login" action="#" method="post">
          <label>Your Name</label>
          <input type="text" name="textfield" />
          <label class="emailpadding">Email ID</label>
          <input class="fieldpadding" type="text" name="textfield" />
          <div id="leftPango">
            <p class="textposition"><a href="#">Resister now</a></p>
            <input type="submit" class="gobutton" value="Go" />
          </div>
        </form>
      </div>
      <h3>Sosyal Medya</h3>
      <ul>
        {% for hesap in hesaplar  %}  
          
          <li><a href = "#"> {{ hesap }} </a></li>
          
        {% endfor %}
      </ul>
    </div>