
{% extends "core/base.html" %}

{% load static %}

{% block icerik %}

<div class="container">
    <div class="row">
        <div class="col-lg-7">
            <div class="p-5">
                <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">{{ baslik }}</h1>
                </div>
                <form method="post" class="user">
                    {% csrf_token %}
                    <div class="form-group row">
                        <div class="col-sm-6 mb-3 mb-sm-0">
                            <input type="text" class="form-control form-control-user" 
                                id="adi" name="adi"
                                placeholder="First Name">
                        </div>
                        <div class="col-sm-6">
                            <input type="text" class="form-control form-control-user" 
                                id="soyadi" name="soyadi"
                                placeholder="Last Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control form-control-user" 
                            id="eposta" name="eposta"
                            placeholder="Email Address">
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6 mb-3 mb-sm-0">
                            <input type="password" class="form-control form-control-user"
                                id="parola" name="parola"
                                placeholder="Password">
                        </div>
                        <div class="col-sm-6">
                            <input type="password" class="form-control form-control-user"
                                id="parolatekrar"  name="parolatekrar"
                                placeholder="Repeat Password">
                        </div>
                    </div>
                    <button  type="submit"  class="btn btn-primary btn-user btn-block">
                        Register Account
                    </button>
                    <hr>
                    <a href="javascript:void(0)" class="btn btn-google btn-user btn-block">
                        <i class="fab fa-google fa-fw"></i> Register with Google
                    </a>
                    <a href=" {% url 'anasayfa' %} " class="btn btn-facebook btn-user btn-block">
                        <i class="fab fa-facebook-f fa-fw"></i> Anasayfa
                    </a>
                </form>
                <hr>
                <div class="text-center">
                    <a class="small" href="forgot-password.html">Forgot Password?</a>
                </div>
                <div class="text-center">
                    <!-- login ve register arasında bağlantı yap -->
                    <a class="small" href=" {% url 'user_profile:login' %} ">
                        Already have an account? Login!
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock icerik %}