
{% extends "core/base.html" %}

{% block icerik %}

<h2>{{ baslik }}</h2>

<br><br><br><br><br><br><br><br>

<!-- .container>.row>.col-md-3{icerik} -->
<div class="container">
  <div class="row">

    {% for haber in haberler %}
    <div class="col-md-3">
      <div class="card" style="width: 18rem;">
        <img src=" {{ haber.gorsel.url }} " 
        class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ haber.baslik }}</h5>
          <p class="card-text"> {{ haber.icerik }} </p>
          <a href="#" class="btn btn-primary">Detay Bilgi</a>
        </div>
      </div>
    </div>
    {% endfor %}

  </div>
</div>

<!-- .container>.row>.col-md-3{icerik} -->
<div class="container">
  <div class="row">

    <h2> {{ baslik }} Sayfası </h2>
    <h4> {{ egitimid.icerik }} </h4>
    <h5> {{ egitimid.id }} </h5>
  </div>
</div>

{% endblock icerik %}