
{% extends "core/base.html" %}

{% load static %}

{% block icerik %}

<div class="container">
  <h2>HABERLER SAYFASI</h2>
  <div class="row">

    {% for haber in haberler %}
      <div class="col-md-3 m-3">

        <div class="card" style="width: 18rem;">
          <img src=" {{ haber.gorsel.url }} " class="card-img-top" alt="1">
          <div class="card-body">
            <h5 class="card-title"> {{ haber.baslik }} </h5>
            <p class="card-text"> {{ haber.icerik }} </p>
            <a href=" haberler/" class="btn btn-primary">Detay Gör</a>
          </div>
        </div>

      </div>
    {% endfor %}
  </div>
</div>

{% endblock icerik %}